@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
ul {
    list-style: none;
    padding: 0;
  }
  body{
    background: var(--bg-light, #272B30);
  }
  
  a {
    text-decoration: none;
  }
  

  
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px;
    width: 750px;
  }
  
  .list li {
    margin: 0px 0;
  }
  
  .list li a {
    color: var(--white, #F3F3F3);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  #first-link {
    color: var(--white, #F3F3F3);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .one{
    width: 670px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tittle{
    color: var(--white, #F3F3F3);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--white, #F3F3F3);
    margin-left: 15px;
  }

  .svg1{
    margin-left: 120px;
    margin-top: 20px;    
  }

